<h1><%= @genre.name %></h1>

<h2>Games in this Genre:</h2>
<ul>
  <% @games.each do |game| %>
  <section class="movie">
    <div class="image">
      <%= image_tag game.image_file_name %>
    </div>
    <h2><%= link_to(game.title, game_path(game)) %></h2>
    </section>
  <% end %>
</ul>
<% if current_user_admin? %>
  <section class="admin">
    <%= link_to("All Genres", genres_path, class: "button") %>
    <%= link_to("Create a genre", new_genre_path, class: "button") %>
    <%= link_to("Delete genre", genre_path(@genre), class: "button", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }) %>
  </section>
<% end %>
