<%= form_with(model: [@game, @review]) do |form| %>
  <%= render "shared/errors", object: @review %>

  <%= form.label :stars %>
  <% Review::STARS.each do |star| %>
    <span class="star">
      <%= form.radio_button :stars, star %>
      <%= label_tag star %>
    </span>
  <% end %>

  <%= form.label :comment %>
  <%= form.text_area :comment, placeholder: "What did you think?" %>

  <%= form.submit "Post Review" %>
<% end %>
